Example Node Environment variables used throughout project unless otherwise specified

NODE_ENV = dev

the port that the project server will connect to
PORT = 8000

Variables used to connect to the postgres database
PG_USER = postgres
PG_PASSWORD = password
PG_DATABASE = freelancing_project
PG_PORT= 5432
PG_TEST_DATABASE = freelancing_project_test

used to create the first admin in the DB
ADMIN_FIRST_NAME = first
ADMIN_LAST_NAME = last
ADMIN_USERNAME = example
ADMIN_EMAIL = example@yahoo.com
ADMIN_PASSWORD = some_password
